<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Főoldal</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

</head>

<body>
<div th:insert="menu"></div>
<br>
<div class="card text-bg-primary mb-3 text-center">
    <div class="card-header">IRISZ</div>
    <div class="card-header">Ipari Regisztráló és Információs Szoftver</div>
    <div class="card-body">
        <h5 class="card-title">Üdvözlünk az IRISZ weboldalán !</h5>
        <p><img src="https://cdn2.iconfinder.com/data/icons/public-services-flaticon/64/EMERGENCY_EXIT-signaling-door-signs-direction-arrow-512.png" alt="LAszti" width="500" height="500" /></a></p>
        <p class="card-text">Látjuk, hogy vendég vagy, mert nem jelentkeztél még be! Amennyiben nem vagy regisztrált tag, tudsz regisztrálni az oldalra díjmentesen! Amennyiben tagunk vagy, jelentkezz be a bejelentkezési felületen. Felhívjuk figyelmedet, hogy amennyiben nem vagy bejelentkezve, úgy nem elérhető az oldal többi pontja, kivéve, ha üzenetet szeretnél nekünk küldeni! Megértésed köszönjük!</p>
    </div>
</div>
